.wrapper-title {
    margin-top: 90px;
    display: inline-flex;
    align-items: baseline;
    h1 {
        font-size: 24px;
        font-weight: bold;
        color: red;
    }
    p {
        margin-left: 15px;
    }
    .add-item {
        float: right;
    }
}

.wrapper-action {
    float: right;
    margin-top: 90px;
}


.search-input {
    background: #FFFFFF;
    border: 2px solid #DCD8FB;
    border-right: none;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 8px;
}

.search-icon {
    opacity: 0.5;
    width: 24px;
}

.input-search {
    border-left: none;
    border: 2px solid #DCD8FB;
    border-radius: 10px;
}

.pl-lg-100 {
    @media (min-width: 992px) {
        padding-left: 100px;
    }
}