.wrapper-title {
    margin-top: 90px;
    display: inline-flex;
    align-items: baseline;
    h1 {
        @media (max-width: 991px) {
            font-size: 24px;
        }
        font-size: 30px;
        font-weight: bold;
        color: #414141;
    }
    p {
        @media (max-width: 991px) {
            font-size: 12px;
        }
        margin-left: 15px; 
        font-weight: bold;
        font-size: 18px;
        color: #7B7B7B;
    }
}

.wrapper-action {
    @media (min-width: 992px) {
        margin-top: 90px;
    }
    float: right;
    margin-top: 85px;
    .btn-add {
        padding: 8px 32px;
        @media (max-width: 991px) {
            padding: 8px 16px;
        }
    }
}

.header-container {
    height: 50px;
}

.search-input {
    background: #FFFFFF;
    border: 2px solid #DCD8FB;
    border-right: none;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 8px;
}

.search-icon {
    opacity: 0.5;
    width: 24px;
}

.input-search {
    border-left: none;
    border: 2px solid #DCD8FB;
    border-radius: 10px;
}

.input-container {
    @media (min-width: 992px) {
        padding-left: 100px;
    }
    padding: 24px;
}

.table-responsive {
    @media (max-width: 991px) {
        font-size: 14px;
    }
}

.table > thead {
    text-transform: uppercase;
    background-color: #414141;
    color: white;
}

.btn-sort {
    padding: 8px 24px;
    @media(max-width: 991px) {
        padding: 8px 48px;
        display: block;
        margin: 0 auto;
        bottom: 14px;
        position: relative;
        width: 91%;
    }
}

.navbar-mobile-container{
    background: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    position: relative;
    top: 10px;
}